
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create An Account</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<header th:insert="~{header :: header(user=${user})}" ></header>
<h2>Create an account</h2>
<p th:if="${error != null}" th:text="${error}" class="error"></p>
<form th:action="@{/createAccount}" method="post" th:object="${newUser}">
<label>
  <p>Username:</p>
  <input type="text" th:field="*{username}">
</label><br/>
  <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
<label>
  <p>Email:</p>
  <input type="text" th:field="*{email}">
</label><br/>
  <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></p>
<label>
  <p>Password:</p>
  <input type="password" th:field="*{password}">
</label><br/>
  <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></p>
  <input type="submit" value="Create Account">
</form>
</body>
</html>