<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div th:fragment="header">
<header>
    <h1>Title</h1>
    <div class="hamburger-button" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</header>
<nav id="menu" class="closed">
    <div>
        <div th:if="${loggedIn}">
            <h3>Account</h3>
            <p><a href="/logout">Logout</a></p>
            <h3>Lists</h3>
            <a href="/list"><p>+ New List</p></a>
            <div th:each="l: ${lists}">
                <a th:href="@{'/list/' + ${l.getId()}}"><p th:text=" ${l.getName()}"></p></a>
            </div>
        </div>
        <div th:unless="${loggedIn}">
            <p><a href="/login">Login</a></p>
            <p><a href="/createAccount">Create account</a></p>


        </div>

    </div>
</nav>
<script th:inline="javascript">
    function myFunction(x) {
        const menu = document.getElementById('menu');
        menu.classList.toggle('closed');
        x.classList.toggle("change");
    }
</script>
</div>
</body>
</html>
