<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<div th:fragment="header">
<header>
    <h1>Title</h1>
    <div class="hamburger-button" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</header>
<nav id="menu" class="closed">
    <div>
        <h3>Account</h3>
        <div class="item" th:each="p: ${accountPages}">
            <p th:text="${p}"></p>
        </div>
        <h3>Lists</h3>
        <div class="item" th:each="l: ${lists}">
            <p th:text="${l}"></p>
        </div>
    </div>
</nav>
<script th:inline="javascript">
    function myFunction(x) {
        const menu = document.getElementById('menu');
        menu.classList.toggle('closed');
        x.classList.toggle("change");
    }
</script>
</div>
</body>
</html>
